.btn-primary {
  border-color: #46b06a;
}

.btn-primary:hover {
  background-color: #50c878;
  border-color: #46b06a;
}

img {
  max-width: 100%;
}

blockquote {
  padding-left: 8px;
}

p {
  color: #92a2b0;
}
